/*Contenedor del formulario, centrado con ancho máximo, fondo claro, bordes redondeados y sombra */
.pacientes-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Grupo de elementos del formulario con separación y organizados en columna */
.pacientes-form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

/* Etiqueta del formulario en negrita y con margen inferior para separación */
.pacientes-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000000;
}

/* Campo de entrada con padding, borde verde inicial, bordes redondeados y transición suave */
.pacientes-input {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-color: hsl(123, 73%, 50%);    
}

/* Estilo para el campo de entrada cuando está enfocado: borde azul y sombra */
.pacientes-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
    outline: none;
}

/* Estilo para el select similar al input */
.pacientes-select {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-color: hsl(123, 73%, 50%);
    background-color: white;
    color: #474545;
    appearance: none; 
}

/* Estilo para el campo de entrada cuando está enfocado: borde azul y sombra */
.pacientes-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
    outline: none;
}

/* Estilo para cada opción dentro del select */
.pacientes-select-option {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background-color: white;
    color: #000000;
}

/* Botón con fondo oscuro, texto blanco, padding, bordes redondeados y cursor pointer */
.pacientes-button {
    background-color: hsl(180,25%, 25%);
    color: white;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

/* Cambio de color del botón al pasar el mouse para efecto hover */
.pacientes-button:hover {
    background-color: #222;
}
